.header::after {
  content: '';
  position: absolute;
  top: rem(180px); /* Adjust the value to move it higher */
  left: 0;
  width: 100%;
  height: rem(1px); /* Adjust the height as needed */
  background-color: var(--mantine-color-gray-3); /* Adjust the color as needed */
}

.inner {
  height: rem(84px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobBoardContainer ${
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
}

