.categorie-container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: auto;
    width: 85%;

    margin-top: 50px;

}
.categorie-speicalies{
    flex:3;
}

.categorie-roles{
    flex: 1;
    position: relative;
}
.categorie-roles::after{
    content: '';
    position: absolute;
    top:0px;
    right: 0px;
    width: 3px;
    border-radius: 20px;
    background-color: var(--color-primary);
    height: 100%;

}

.categorie-roles >.categorie-title,.categorie-speicalies>.categorie-title{
    font-weight: bold;
    font-size: 130%;
    color: rgb(71, 71, 71);
    margin-bottom: 15px;
}
.categories-item{
    color: #5c6f79;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: 0.1px;
    margin: 10px 0px;
}
.categories-item:hover{
    color: #00bbbb;

}
.categorie-speicalies-list{
    display: flex;

}
.categorie-speicalies-list>div{
    flex:1;
}